<style>
.A a {
    position: absolute;
    left: -80px;
    width:100px;
    height: 50px;
    color:white;
    padding: 10px;
    transition: 0.5s;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    text-decoration: none;
}
.A a:hover {
    left:0;
}
#instagram {
    background-color: red;
    top:20px;;
}
#Youtube {
    background-color: black;
    top:80px;
}
#Telegram {
    background-color: aqua;
    top:140px;;
}
</style>
